<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" cotent="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title >Pruebas</title>
	<link rel="stylesheet" th:href="@{/desingComponents/navbarC.css}"/>
	<link rel="stylesheet" th:href="@{/desingComponents/inicioC.css}"/>
	<script src="https://kit.fontawesome.com/4dbc21d880.js" crossorigin="anonymous"></script>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<nav th:insert="components/navbar :: nav_bar"></nav>
<div class="container">
    <th:block th:replace="components/inicio :: inicio"></th:block>
</div>
</body>



	<script th:src="@{/scripts/scriptHome.js}"></script>
	<script th:src="@{/scripts/swiper-bundle.min.js}"></script>
    <script th:src="@{/scripts/scriptCandidatos.js}"></script>

</html>